# --- IDEs and OS files ---
.DS_Store
.vscode/
.idea/
.ruby-lsp/

# --- Jekyll Specific ---
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# --- Ruby Specific ---
vendor/bundle/
.bundle/
*.log

# --- Personal / Project Specific ---
node_modules/
.plans/
.refs/
